<footer style="background-color: brown;padding: 15px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <h6 class="m-0" style="color: #fff;text-align: center;">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2023 Dinas Perumahan dan Kawasan Permukiman Kota Semarang</h6>
            </div>
        </div>
    </div>
</footer>