
<form action="/upload_shp/shp" method="post" enctype="multipart/form-data">
    <div>
        <label>shp:</label>
        <input type="file" name="shp"/>
    </div>
    <div>
        <label>shx:</label>
        <input type="file" name="shx"/>
    </div>
    <div>
        <label>dbf:</label>
        <input type="file" name="dbf"/>
    </div>
    
    <div>
        <input type="submit" value="upload"/>
    </div>
</form>