
<form action="/upload/foto" method="post" enctype="multipart/form-data">
    <div>
        <label>file:</label>
        <input type="file" name="foto"/>
    </div>
    
    <div>
        <input type="submit" value="upload"/>
    </div>
</form>