<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/ps.png" type="image/png">
    <!-- Core CSS Backoffice -->
    <title>BillingKu</title>
    <link href="/stylesheets/backoffice/style.css" rel="stylesheet">
    <link href="/stylesheets/backoffice/theme.css" rel="stylesheet">
    <link href="/stylesheets/backoffice/ui.css" rel="stylesheet">
    <!-- End core CSS Backoffice -->

    <!-- Custom CSS Backoffice -->
    <link href="/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
    <link href="/plugins/datatables/dataTables.css" rel="stylesheet">
    <link href="/plugins/step-form-wizard/css/step-form-wizard.min.css" rel="stylesheet">
    <!-- End Custom CSS Backoffice -->

    <!-- Core JS Backoffice -->
    <script src="/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- End core JS Backoffice -->

    <link href="/resources-maps/stylesheets/leaflet-routing-machine.css" rel="stylesheet"/>
    <link href="/resources-maps/stylesheets/L.Control.Locate.min.css" rel="stylesheet"/>
    <link href="/resources-maps/stylesheets/leaflet-routing-machine.css" rel="stylesheet"/>
    <link href="/resources-maps/stylesheets/leaflet.extra-markers.css" rel="stylesheet"/>
    <link href="/resources-maps/stylesheets/leaflet.label.css" rel="stylesheet"/>
    <link href="/resources-maps/stylesheets/groupedlayercontrol.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/resources-maps/stylesheets/leaflet.draw.css" />
    <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet">
    <link href="/resources-maps/stylesheets/Control.FullScreen.css" rel="stylesheet"/>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet@2.1.1/dist/esri-leaflet.js"
       integrity="sha512-ECQqaYZke9cSdqlFG08zSkudgrdF6I1d8ViSa7I3VIszJyVqw4ng1G8sehEXlumdMnFYfzY0tMgdQa4WCs9IUw=="
       crossorigin=""></script>
    <script src="/resources-maps/javascripts/leaflet-routing-machine.js"></script>
    <script src="/resources-maps/javascripts/leaflet.label.js"></script>
    <script src="/resources-maps/panah-asmara.js"></script>
    <script src="https://maps.google.com/maps/api/js?v=3.2&key=AIzaSyBy8irzccEOp7ezf5nQ2UPaLGcte_AEsOQ"></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
    <script src="/resources-maps/javascripts/L.Control.Locate.js" ></script>
    <script src="/resources-maps/javascripts/leaflet-routing-machine.js"></script>
    <script src="/resources-maps/javascripts/leaflet.extra-markers.js"></script>
    <script src="/resources-maps/javascripts/leaflet-image.js"></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>
    <script src="/resources-maps/javascripts/Control.FullScreen.js"></script>
    <script src="/resources-maps/javascripts/groupedlayercontrol.js"></script>
    <script src="/resources-maps/javascripts/wicket.js"></script>
    <script src="/resources-maps/javascripts/wicket-leaflet.js"></script>
    <script src="/resources-maps/javascripts/leaflet-omnivore.min.js"></script>
    <script src="/resources-maps/draw/Leaflet.draw.js"></script>
    <script src="/resources-maps/draw/Leaflet.Draw.Event.js"></script>
    <script src="/resources-maps/draw/Toolbar.js"></script>
    <script src="/resources-maps/draw/Tooltip.js"></script>
    <script src="/resources-maps/draw/ext/GeometryUtil.js"></script>
    <script src="/resources-maps/draw/ext/LatLngUtil.js"></script>
    <script src="/resources-maps/draw/ext/LineUtil.Intersect.js"></script>
    <script src="/resources-maps/draw/ext/Polygon.Intersect.js"></script>
    <script src="/resources-maps/draw/ext/Polyline.Intersect.js"></script>
    <script src="/resources-maps/draw/ext/TouchEvents.js"></script>
    <script src="/resources-maps/draw/draw/DrawToolbar.js"></script>
    <script src="/resources-maps/draw/draw/handler/Draw.Feature.js"></script>
    <script src="/resources-maps/draw/draw/handler/Draw.SimpleShape.js"></script>
    <script src="/resources-maps/draw/draw/handler/Draw.Polyline.js"></script>
    <script src="/resources-maps/draw/draw/handler/Draw.Marker.js"></script>
    <script src="/resources-maps/draw/draw/handler/Draw.Polygon.js"></script>
    <script src="/resources-maps/draw/draw/handler/Draw.Rectangle.js"></script>
    <script src="/resources-maps/draw/edit/EditToolbar.js"></script>
    <script src="/resources-maps/draw/edit/handler/EditToolbar.Edit.js"></script>
    <script src="/resources-maps/draw/edit/handler/EditToolbar.Delete.js"></script>
    <script src="/resources-maps/draw/Control.Draw.js"></script>
    <script src="/resources-maps/draw/edit/handler/Edit.Poly.js"></script>
    <script src="/resources-maps/draw/edit/handler/Edit.SimpleShape.js"></script>
    <script src="/resources-maps/draw/edit/handler/Edit.Rectangle.js"></script>
    <script src="/resources-maps/draw/edit/handler/Edit.Marker.js"></script> 
    <script src="/resources-maps/main.js"></script>

    <style type="text/css">
      .table thead{
        background-color: #F0F4F8;
      }

      .table .list-inline li a{
        margin-right: 0px;
      }

      .table .list-inline .separator{
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
      }

      .table-no-border .table-bordered > thead > tr > th, 
      .table-no-border .table-bordered > tbody > tr > th, 
      .table-no-border .table-bordered > tfoot > tr > th, 
      .table-no-border .table-bordered > thead > tr > td, 
      .table-no-border .table-bordered > tbody > tr > td, 
      .table-no-border .table-bordered > tfoot > tr > td{ 
          border: hidden; 
      }
    </style>

  </head>
  <!-- LAYOUT: Apply "submenu-hover" class to body element to have sidebar submenu show on mouse hover -->
  <!-- LAYOUT: Apply "sidebar-collapsed" class to body element to have collapsed sidebar -->
  <!-- LAYOUT: Apply "sidebar-top" class to body element to have sidebar on top of the page -->
  <!-- LAYOUT: Apply "sidebar-hover" class to body element to show sidebar only when your mouse is on left / right corner -->
  <!-- LAYOUT: Apply "submenu-hover" class to body element to show sidebar submenu on mouse hover -->
  <!-- LAYOUT: Apply "fixed-sidebar" class to body to have fixed sidebar -->
  <!-- LAYOUT: Apply "fixed-topbar" class to body to have fixed topbar -->
  <!-- LAYOUT: Apply "rtl" class to body to put the sidebar on the right side -->
  <!-- LAYOUT: Apply "boxed" class to body to have your page with 1200px max width -->

  <!-- THEME STYLE: Apply "theme-sdtl" for Sidebar Dark / Topbar Light -->
  <!-- THEME STYLE: Apply  "theme sdtd" for Sidebar Dark / Topbar Dark -->
  <!-- THEME STYLE: Apply "theme sltd" for Sidebar Light / Topbar Dark -->
  <!-- THEME STYLE: Apply "theme sltl" for Sidebar Light / Topbar Light -->
  
  <!-- THEME COLOR: Apply "color-default" for dark color: #2B2E33 -->
  <!-- THEME COLOR: Apply "color-primary" for primary color: #319DB5 -->
  <!-- THEME COLOR: Apply "color-red" for red color: #C9625F -->
  <!-- THEME COLOR: Apply "color-green" for green color: #18A689 -->
  <!-- THEME COLOR: Apply "color-orange" for orange color: #B66D39 -->
  <!-- THEME COLOR: Apply "color-purple" for purple color: #6E62B5 -->
  <!-- THEME COLOR: Apply "color-blue" for blue color: #4A89DC -->
  <!-- BEGIN BODY -->
  <body class="fixed-topbar fixed-sidebar theme-sdtl color-primary" >
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <section>
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar">
        <div class="logopanel">
          <h1>
            <strong><center>Backoffice</center></strong>
          </h1>
        </div>
        <div class="sidebar-inner">
          <div class="sidebar-top p-15" style="border-bottom: 4px solid rgba(0,0,0,0.6)">
            <div class="media">
              <div class="media-left media media-middle">
                <a href="#">
                  <img class="media-object" src="https://thumb.viva.co.id/media/frontend/thumbs3/2017/02/16/58a5373ed96c3-logo-playstation_1265_711.jpg" style="width: 80px;">
                </a>
              </div>
              <div class="media-body  media-middle">
                <h5 class="media-heading" style="color: rgba(255,255,255,0.6);font-weight: 700">Billing</h5>
              </div>
            </div>
          </div>
          

          <ul class="nav nav-sidebar">
            <li><a href="/manajemen_ps/"><i class="icon-layers"></i><span>PS</span></a></li>
            <li><a href="/manajemen_paket/"><i class="icon-layers"></i><span>Paket</span></a></li>
            <li><a href="/manajemen_billing/"><i class="icon-layers"></i><span>Billing</span></a></li>
            <li><a href="/manajemen_pengeluaran/"><i class="icon-layers"></i><span>Pengeluaran</span></a></li>

            <!-- <li class="nav-parent">  
              <a href="#"><i class="icon-layers"></i><span>Menu Dropdown</span> <span class="fa arrow"></span></a>  
              <ul class="children collapse">  
                <li><a href="#"><i class="icon-layers"></i><span>Dropdown 1</span></a></li> 
                <li><a href="#"><i class="icon-layers"></i><span>Dropdown 2</span></a></li> 
              </ul>  
            </li>  -->
            <li><a href="/user"><i class="icon-user"></i><span>User</span></a></li>
          </ul>
        </div>
      </div>
      <!-- END SIDEBAR -->

      <!--  BEGIN MAIN CONTENT -->
      <div class="main-content">
        <!-- BEGIN TOPBAR -->
        <div class="topbar">
          <div class="header-left">
            <div class="topnav">
              <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
              <!-- <img src="/stylesheets/backoffice/images/logo/title.png" class="m-t-15 m-l-10"> -->
            </div>
          </div>
          <div class="header-right">
            <ul class="header-menu nav navbar-nav">
              <!-- BEGIN USER DROPDOWN -->
              <li class="dropdown" id="user-header">
                <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img src="/images/backoffice/user.png" alt="user image">
                    <span class="username">Hi,</span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/autentifikasi/logout"><i class="icon-logout"></i><span>Sign Out</span></a>
                  </li>
                </ul>
              </li>
              <!-- END USER DROPDOWN -->
            </ul>
          </div>
          <!-- header-right -->
        </div>
        <!-- END TOPBAR -->
   