<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Tambah Data User</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/user">Data User</a></li>
        <li class="active">Tambah Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <!-- Notifikasi -->
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Start form -->
              <form role="form" action="/user/submit_insert" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <label>Username</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="" name="username" >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="" name="pwd" >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Nama Lengkap</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="" name="fullname" >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>NIP</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="" name="NIP" >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Email</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="" name="email" >
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Telepon</label>
                  <div class="row">
                    <div class="col-md-6"><input type="text" class="form-control" id="" name="telp" ></div>
                  </div>
                </div>

                <div class="form-group">
                  <label>Role ?</label>
                  <div class="row">
                    <div class="col-md-6">
                      <select class="form-control" name="" id="">
                        <option value="">-- Pilih --</option>
                        <option value="">Administrator</option>
                        <option value="">Bidang</option>
                      </select>
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-embossed">Simpan</button>
              </form>
              <!-- End form -->
              
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> <%=new Date().getFullYear()%> </span>
        <span>SwK</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>
