<% include ../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Dashboard</strong></h2>
    <!-- <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li class="active">Dashboard</li>
      </ol>
    </div> -->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <!-- HERE COMES YOUR CONTENT -->
    </div>
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2023 </span>
        <span>Dinas Perumahan dan Kawasan Permukiman Kota Semarang</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../template-backoffice/footer.ejs %>